/*General Selectors*/

*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body
{
    background-color: aquamarine;
}


/*Introductory Writing (No need for specific styling)*/
.writing
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(20, 75, 57);
}

.writing h1
{
    font-size: 3em;
}

.writing p
{
    font-size: 1.3em;
    font-weight: 600;
}
/*Introductory Writing (No need for specific styling)*/

/*General Styling*/

.condenser
{
    margin: 0px 200px 0px 200px;
}

/*RESPONSIVENESS FOR TABLETS*/
@media (max-width: 768px) 
{
  .condenser
  {
    margin: auto;
  }
}
/*RESPONSIVENESS FOR TABLETS*/

/*SLIDER*/
.slider-container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 16/9;
    max-width: 100%;

}

.slider-child, .slider-child-hidden
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slider-child-hidden 
{
    display: none;
}

/*NAVIGATIONAL BUTTONS*/
.np-buttons
{
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    padding: clamp(10px, 2vw, 20px);

    border: none;
    background-color: rgb(17, 17, 17);
    color: #f7f9f9;
    opacity: 25%;
    
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s;
    object-fit: contain;
}

.np-buttons:hover 
{
    opacity: 50%;

}

.np-buttons:active
{
    opacity: 75%;
}

#lPrev 
{
    left: 1%;
}

#rNext 
{
    right: 1%;
}
/*NAVIGATIONAL BUTTONS*/

/*NAVIGATIONAL DOTS*/
.dots
{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-evenly;
    align-items: center;
    bottom: clamp(5%, 8vw, 11%);  
}

.dots li
{
    list-style: none;
    margin: 0 clamp(5px, 2vw, 10px);
}

.dot
{
    z-index: 1;
    
    height: clamp(10px, 2.5vw, 25px);
    width: clamp(10px, 2.5vw, 25px);
    border: solid 0.1em #f7f9f9;

    background-color: none;
    color:#f7f9f9;
    border-radius: 50%;
    display: inline-block;
    
    background-color: none;
    transition: 0.3s;
}

.dot:active , .dot:hover , .dot-activated
{
    background-color:#f7f9f9;
    cursor: pointer;
}

/*RESPONSIVNESS FOR PHONES*/
@media (max-width: 480px) 
{
  .dot, .dot:active , .dot:hover , .dot-activated
  {
    opacity: 0.5;
  }
}
/*RESPONSIVNESS FOR PHONES*/

/*RESPONSIVENESS FOR TABLETS*/
@media (max-width: 768px) 
{
  .dot, .dot:active , .dot:hover , .dot-activated
  {
    opacity: 0.25
  }
}
/*RESPONSIVENESS FOR TABLETS*/
/*NAVIGATIONAL DOTS*/

/*SLIDER*/